.login{
    height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
}

.loginTitle{
    font-size: 50px;
}


.loginForm{
    margin-top:20px;
    display:flex;
    flex-direction: column;
}

.loginForm >label{
    margin:10px 0;
}

.loginInput{
    padding:10px;
    background-color: white;
    border: 1px solid;
    border-radius:10px;
}

.loginButton{
    margin-top: 20px;
    background-color: coral;
    cursor:pointer;
    border:none;
    border-radius: 10px;
    color:white;
    padding:10px;
}

.loginRegistrationButton {
    position:absolute;
    top:60px;
    right:20px;
    border:none;
    align-self:center;
    color: white;
    background-color: teal;
    align-items: center;
    cursor: pointer;
    border-radius:10px;
    padding:15px;
}

.loginButton:disabled{
    cursor:not-allowed;
    background-color:lightcoral;
}